<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <filter>
        <filter-name>RemoteUser</filter-name>
        <filter-class>com.stackframe.sarariman.RemoteUser</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RemoteUser</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <listener><listener-class>com.stackframe.sarariman.Sarariman</listener-class></listener>
    <servlet>
        <servlet-name>timesheets</servlet-name>
        <jsp-file>/timesheets.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>timesheet</servlet-name>
        <jsp-file>/timesheet.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>changelog</servlet-name>
        <jsp-file>/changelog.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>projects</servlet-name>
        <jsp-file>/projects.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>administrators</servlet-name>
        <jsp-file>/administrators.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>approvers</servlet-name>
        <jsp-file>/approvers.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>invoicemanagers</servlet-name>
        <jsp-file>/invoicemanagers.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>project</servlet-name>
        <jsp-file>/project.jsp</jsp-file>
    </servlet>
    <servlet><servlet-name>customers</servlet-name><jsp-file>/customers.jsp</jsp-file></servlet>
    <servlet>
        <servlet-name>customer</servlet-name>
        <jsp-file>/customer.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>com.stackframe.sarariman.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeTableController</servlet-name>
        <servlet-class>com.stackframe.sarariman.EmployeeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectController</servlet-name>
        <servlet-class>com.stackframe.sarariman.ProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAICLaborCosts</servlet-name>
        <servlet-class>com.stackframe.sarariman.saic.LaborCosts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaborCosts</servlet-name>
        <servlet-class>com.stackframe.sarariman.LaborCosts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>timesheets</servlet-name>
        <url-pattern>/timesheets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timesheet</servlet-name>
        <url-pattern>/timesheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changelog</servlet-name>
        <url-pattern>/changelog</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editentry</servlet-name>
        <jsp-file>/editentry.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editentry</servlet-name>
        <url-pattern>/editentry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tasks</servlet-name>
        <jsp-file>/tasks.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>tasks</servlet-name>
        <url-pattern>/tasks</url-pattern></servlet-mapping>
    <servlet>
        <servlet-name>task</servlet-name>
        <jsp-file>/task.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>task</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>day</servlet-name>
        <jsp-file>/day.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>day</servlet-name>
        <url-pattern>/day</url-pattern>
    </servlet-mapping><servlet-mapping>
        <servlet-name>day</servlet-name>
        <url-pattern>/day</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tools</servlet-name>
        <jsp-file>/tools.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>tools</servlet-name>
        <url-pattern>/tools</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>timereport</servlet-name>
        <jsp-file>/timereport.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>timereport</servlet-name>
        <url-pattern>/timereport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>timereportsbyproject</servlet-name>
        <jsp-file>/timereportsbyproject.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>timereportsbyproject</servlet-name>
        <url-pattern>/timereportsbyproject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>projecttimereports</servlet-name>
        <jsp-file>/projecttimereports.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>projecttimereports</servlet-name>
        <url-pattern>/projecttimereports</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>invoice</servlet-name>
        <jsp-file>/invoice.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>invoice</servlet-name>
        <url-pattern>/invoice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>invoices</servlet-name>
        <jsp-file>/invoices.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>invoices</servlet-name>
        <url-pattern>/invoices</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uninvoiced</servlet-name>
        <jsp-file>/uninvoiced.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>uninvoiced</servlet-name>
        <url-pattern>/uninvoiced</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uninvoicedprojects</servlet-name>
        <jsp-file>/uninvoicedprojects.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>uninvoicedprojects</servlet-name>
        <url-pattern>/uninvoicedprojects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>projects</servlet-name>
        <url-pattern>/projects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administrators</servlet-name>
        <url-pattern>/administrators</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approvers</servlet-name>
        <url-pattern>/approvers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>invoicemanagers</servlet-name>
        <url-pattern>/invoicemanagers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>project</servlet-name>
        <url-pattern>/project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customers</servlet-name>
        <url-pattern>/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customer</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeTableController</servlet-name>
        <url-pattern>/employeeTableController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectController</servlet-name>
        <url-pattern>/projectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAICLaborCosts</servlet-name>
        <url-pattern>/saic/laborcosts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaborCosts</servlet-name>
        <url-pattern>/laborcosts</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <env-entry>
        <env-entry-name>java.naming.factory.initial</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>com.sun.jndi.ldap.LdapCtxFactory</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>java.naming.provider.url</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>ldap://ldap.stackframe.com:389/dc=stackframe,dc=com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>java.naming.security.authentication</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>simple</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>java.naming.security.principal</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>uid=mycroft,ou=People,dc=stackframe,dc=com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>java.naming.security.credentials</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>67qwnm</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>mail.smtp.host</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>mail.stackframe.com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>mail.smtp.port</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>587</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>mail.from</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>sarariman@stackframe.com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>logoURL</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>http://www.stackframe.com/logo/logo.gif</env-entry-value>
    </env-entry>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/sarariman</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref></web-app>
