<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <filter>
        <filter-name>AccessLog</filter-name>
        <filter-class>com.stackframe.sarariman.AccessLogFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.stackframe.sarariman.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ErrorFilter</filter-name>
        <filter-class>com.stackframe.sarariman.ErrorFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PDFRenderer</filter-name>
        <filter-class>com.stackframe.sarariman.PDFRendererFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>com.stackframe.sarariman.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ErrorFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccessLog</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PDFRenderer</filter-name>
        <url-pattern>/timereport</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PDFRenderer</filter-name>
        <url-pattern>/invoice</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>com.stackframe.sarariman.Sarariman</listener-class>
    </listener>
    <servlet>
        <servlet-name>unauthorized</servlet-name>
        <jsp-file>/unauthorized.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>employee</servlet-name>
        <jsp-file>/employee.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>employees</servlet-name>
        <jsp-file>/employees.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>timesheets</servlet-name>
        <jsp-file>/timesheets.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>timesheet</servlet-name>
        <jsp-file>/timesheet.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>changelog</servlet-name>
        <jsp-file>/changelog.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>projects</servlet-name>
        <jsp-file>/projects.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>administrators</servlet-name>
        <jsp-file>/administrators.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>approvers</servlet-name>
        <jsp-file>/approvers.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>invoicemanagers</servlet-name>
        <jsp-file>/invoicemanagers.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>uninvoicedbillable</servlet-name>
        <jsp-file>/uninvoicedbillable.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>laborcategories</servlet-name>
        <jsp-file>/laborcategories.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>laborcategory</servlet-name>
        <jsp-file>/laborcategory.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>laborcategoryassignments</servlet-name>
        <jsp-file>/laborcategoryassignments.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>project</servlet-name>
        <jsp-file>/project.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>customers</servlet-name>
        <jsp-file>/customers.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>customer</servlet-name>
        <jsp-file>/customer.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>employeeBilled</servlet-name>
        <jsp-file>/employeeBilled.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>weekBilled</servlet-name>
        <jsp-file>/weekBilled.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>projectBilled</servlet-name>
        <jsp-file>/projectBilled.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>TimesheetController</servlet-name>
        <servlet-class>com.stackframe.sarariman.TimesheetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceController</servlet-name>
        <servlet-class>com.stackframe.sarariman.InvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>com.stackframe.sarariman.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeTableController</servlet-name>
        <servlet-class>com.stackframe.sarariman.EmployeeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectController</servlet-name>
        <servlet-class>com.stackframe.sarariman.ProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAICLaborCosts</servlet-name>
        <servlet-class>com.stackframe.sarariman.saic.LaborCosts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaborCosts</servlet-name>
        <servlet-class>com.stackframe.sarariman.LaborCosts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFTimesheetBuilder</servlet-name>
        <servlet-class>com.stackframe.sarariman.PDFTimesheetBuilder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailBuilder</servlet-name>
        <servlet-class>com.stackframe.sarariman.EmailBuilder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>com.stackframe.sarariman.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeductPTOHandler</servlet-name>
        <servlet-class>com.stackframe.sarariman.DeductPTOHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserStatus</servlet-name>
        <servlet-class>com.stackframe.sarariman.statusboard.UserStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemStatus</servlet-name>
        <servlet-class>com.stackframe.sarariman.statusboard.SystemStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoursBilled</servlet-name>
        <servlet-class>com.stackframe.sarariman.statusboard.HoursBilled</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoFetcher</servlet-name>
        <servlet-class>com.stackframe.sarariman.PhotoFetcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaborProjectionEditor</servlet-name>
        <jsp-file>/laborprojections/edit.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LogLocation</servlet-name>
        <servlet-class>com.stackframe.sarariman.LogLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskAssignmentServlet</servlet-name>
        <servlet-class>com.stackframe.sarariman.taskassignments.TaskAssignmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LaborProjectionEditor</servlet-name>
        <url-pattern>/laborprojections/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LaborProjectionCreator</servlet-name>
        <jsp-file>/laborprojections/create.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LaborProjectionCreator</servlet-name>
        <url-pattern>/laborprojections/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LaborProjectionController</servlet-name>
        <servlet-class>com.stackframe.sarariman.projects.LaborProjectionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LaborProjectionController</servlet-name>
        <url-pattern>/laborprojections/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeductPTOHandler</servlet-name>
        <url-pattern>/DeductPTOHandler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TimesheetEntryHandler</servlet-name>
        <servlet-class>com.stackframe.sarariman.TimesheetEntryHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimesheetEntryHandler</servlet-name>
        <url-pattern>/TimesheetEntryHandler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TimesheetActivity</servlet-name>
        <jsp-file>/activity.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimesheetActivity</servlet-name>
        <url-pattern>/activity</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvitationHandler</servlet-name>
        <servlet-class>com.stackframe.sarariman.events.InvitationHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvitationHandler</servlet-name>
        <url-pattern>/events/handleInvitation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>taskGroupings</servlet-name>
        <jsp-file>/taskGroupings.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>taskGrouping</servlet-name>
        <jsp-file>/taskGrouping.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>expense</servlet-name>
        <jsp-file>/expense.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>expenses</servlet-name>
        <jsp-file>/expenses.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SAICExpenses</servlet-name>
        <servlet-class>com.stackframe.sarariman.saic.Expenses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.stackframe.sarariman.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthCheck</servlet-name>
        <servlet-class>com.stackframe.sarariman.AuthCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthCheck</servlet-name>
        <url-pattern>/auth_check</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>serviceagreements</servlet-name>
        <jsp-file>/serviceAgreements.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>serviceagreement</servlet-name>
        <jsp-file>/serviceAgreement.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>unbilledservices</servlet-name>
        <jsp-file>/unbilledServices.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>TicketStatusChangeHandler</servlet-name>
        <servlet-class>com.stackframe.sarariman.tickets.StatusChangeHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketStatusChangeHandler</servlet-name>
        <url-pattern>/tickets/StatusChangeHandler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TicketTextUpdateHandler</servlet-name>
        <servlet-class>com.stackframe.sarariman.tickets.TextUpdateHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketTextUpdateHandler</servlet-name>
        <url-pattern>/tickets/TextUpdateHandler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TicketsAssignmentHandler</servlet-name>
        <servlet-class>com.stackframe.sarariman.tickets.AssignmentHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketsAssignmentHandler</servlet-name>
        <url-pattern>/tickets/AssignmentHandler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TicketWatchHandler</servlet-name>
        <servlet-class>com.stackframe.sarariman.tickets.WatchHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketWatchHandler</servlet-name>
        <url-pattern>/tickets/WatchHandler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createServiceBilling</servlet-name>
        <servlet-class>com.stackframe.sarariman.ServiceBillingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employee</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employees</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unauthorized</servlet-name>
        <url-pattern>/unauthorized</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employeeBilled</servlet-name>
        <url-pattern>/employeeBilled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>weekBilled</servlet-name>
        <url-pattern>/weekBilled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>projectBilled</servlet-name>
        <url-pattern>/projectBilled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timesheets</servlet-name>
        <url-pattern>/timesheets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timesheet</servlet-name>
        <url-pattern>/timesheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changelog</servlet-name>
        <url-pattern>/changelog</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editentry</servlet-name>
        <jsp-file>/editentry.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editentry</servlet-name>
        <url-pattern>/editentry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tasks</servlet-name>
        <jsp-file>/tasks.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>tasks</servlet-name>
        <url-pattern>/tasks</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PTODetails</servlet-name>
        <jsp-file>/PTODetails.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PTODetails</servlet-name>
        <url-pattern>/PTODetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>scheduledVacation</servlet-name>
        <jsp-file>/scheduledVacation.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>scheduledVacation</servlet-name>
        <url-pattern>/scheduledVacation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>stats</servlet-name>
        <jsp-file>/stats.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>stats</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>task</servlet-name>
        <jsp-file>/task.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>task</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>day</servlet-name>
        <jsp-file>/day.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>day</servlet-name>
        <url-pattern>/day</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>day</servlet-name>
        <url-pattern>/day</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tools</servlet-name>
        <jsp-file>/tools.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>tools</servlet-name>
        <url-pattern>/tools</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>timereport</servlet-name>
        <jsp-file>/timereport.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>timereport</servlet-name>
        <url-pattern>/timereport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>timereportsbyproject</servlet-name>
        <jsp-file>/timereportsbyproject.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>timereportsbyproject</servlet-name>
        <url-pattern>/timereportsbyproject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>projecttimereports</servlet-name>
        <jsp-file>/projecttimereports.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>projecttimereports</servlet-name>
        <url-pattern>/projecttimereports</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>invoice</servlet-name>
        <jsp-file>/invoice.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>invoice</servlet-name>
        <url-pattern>/invoice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>contacts</servlet-name>
        <jsp-file>/contacts.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>contacts</servlet-name>
        <url-pattern>/contacts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>contact</servlet-name>
        <jsp-file>/contact.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>invoices</servlet-name>
        <jsp-file>/invoices.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>invoices</servlet-name>
        <url-pattern>/invoices</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>hoursByTask</servlet-name>
        <jsp-file>/hoursByTask.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>hoursByTask</servlet-name>
        <url-pattern>/hoursByTask</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>hoursByProject</servlet-name>
        <jsp-file>/hoursByProject.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>hoursByProject</servlet-name>
        <url-pattern>/hoursByProject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uninvoiced</servlet-name>
        <jsp-file>/uninvoiced.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>uninvoiced</servlet-name>
        <url-pattern>/uninvoiced</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orgChart</servlet-name>
        <jsp-file>/orgChart.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>orgChart</servlet-name>
        <url-pattern>/orgChart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>viewEvent</servlet-name>
        <jsp-file>/events/view.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewEvent</servlet-name>
        <url-pattern>/events/view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>employeeController</servlet-name>
        <servlet-class>com.stackframe.sarariman.EmployeeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employeeController</servlet-name>
        <url-pattern>/employeeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>viewTickets</servlet-name>
        <jsp-file>/tickets/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewTickets</servlet-name>
        <url-pattern>/tickets/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createTicket</servlet-name>
        <jsp-file>/tickets/create.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>createTicket</servlet-name>
        <url-pattern>/tickets/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>handleTicketCreate</servlet-name>
        <jsp-file>/tickets/handleCreate.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>handleTicketCreate</servlet-name>
        <url-pattern>/tickets/handleCreate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>viewTicket</servlet-name>
        <jsp-file>/tickets/view.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewTicket</servlet-name>
        <url-pattern>/tickets/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uninvoicedprojects</servlet-name>
        <jsp-file>/uninvoicedprojects.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>uninvoicedprojects</servlet-name>
        <url-pattern>/uninvoicedprojects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>projects</servlet-name>
        <url-pattern>/projects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administrators</servlet-name>
        <url-pattern>/administrators</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approvers</servlet-name>
        <url-pattern>/approvers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>invoicemanagers</servlet-name>
        <url-pattern>/invoicemanagers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>laborcategories</servlet-name>
        <url-pattern>/laborcategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>laborcategory</servlet-name>
        <url-pattern>/laborcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>laborcategoryassignments</servlet-name>
        <url-pattern>/laborcategoryassignments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uninvoicedbillable</servlet-name>
        <url-pattern>/uninvoicedbillable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>project</servlet-name>
        <url-pattern>/project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customers</servlet-name>
        <url-pattern>/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customer</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimesheetController</servlet-name>
        <url-pattern>/timesheetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceController</servlet-name>
        <url-pattern>/invoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeTableController</servlet-name>
        <url-pattern>/employeeTableController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectController</servlet-name>
        <url-pattern>/projectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAICLaborCosts</servlet-name>
        <url-pattern>/saic/laborcosts.csv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaborCosts</servlet-name>
        <url-pattern>/laborcosts.csv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFTimesheetBuilder</servlet-name>
        <url-pattern>/PDFTimesheetBuilder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailBuilder</servlet-name>
        <url-pattern>/EmailBuilder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/ContactController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taskGroupings</servlet-name>
        <url-pattern>/taskGroupings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taskGrouping</servlet-name>
        <url-pattern>/taskGrouping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>expense</servlet-name>
        <url-pattern>/expense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>expenses</servlet-name>
        <url-pattern>/expenses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAICExpenses</servlet-name>
        <url-pattern>/saic/expenses.csv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serviceagreements</servlet-name>
        <url-pattern>/serviceagreements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serviceagreement</servlet-name>
        <url-pattern>/serviceagreement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unbilledservices</servlet-name>
        <url-pattern>/unbilledservices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createServiceBilling</servlet-name>
        <url-pattern>/createservicebilling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserStatus</servlet-name>
        <url-pattern>/statusboard/mine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemStatus</servlet-name>
        <url-pattern>/statusboard/system</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoursBilled</servlet-name>
        <url-pattern>/statusboard/hours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoFetcher</servlet-name>
        <url-pattern>/photo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogLocation</servlet-name>
        <url-pattern>/loglocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskAssignmentServlet</servlet-name>
        <url-pattern>/taskassignment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
<!--
    <env-entry>
        <env-entry-name>java.naming.factory.initial</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>com.sun.jndi.ldap.LdapCtxFactory</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>java.naming.provider.url</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>ldap://ldap.company.com/dc=company,dc=com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>java.naming.security.authentication</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>simple</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>java.naming.security.principal</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>uid=timesheet,ou=People,dc=stackframe,dc=com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>mail.smtp.host</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>mail.company.com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>mail.smtp.port</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>587</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>mail.from</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>sarariman@company.com</env-entry-value>
    </env-entry>
-->
    <env-entry>
        <env-entry-name>logoURL</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>http://www.stackframe.com/logo/logo.gif</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>inhibitEmail</env-entry-name>
        <env-entry-type>java.lang.Boolean</env-entry-type>
        <env-entry-value>false</env-entry-value>
    </env-entry>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/sarariman</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
