body {
    margin: 0px auto;
    padding: 15px;
    background: white;
    color: black;
}

p.error {
    color: red;
}

#footer {
    text-align: center;
}

.duration, .task {
    text-align: right;
    font-family: monospace;
}

.date {
    white-space: nowrap;
}

th {
    white-space: nowrap;
}

table.altrowstable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}

table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

table.altrowstable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

.oddrowcolor{
    background-color:#d4e3e5;
}

.evenrowcolor{
    background-color:#c3dde0;
}